<div class="container">
  <div class="row d-flex justify-content-center">
    <span class="h2 mb-5 col-md-auto">
      お問い合わせの送信を完了しました
    </span>
    <div class="w-100"></div>
    <span class="h5 col-md-auto">
      お問い合わせいただきありがとうございました。
    </span>
    <div class="w-100"></div>
    <span class="h5 col-md-auto">
      折り返し、担当者よりご連絡いたしますので、
    </span>
    <div class="w-100"></div>
    <span class="h5 col-md-auto">
      恐れ入りますが、しばらくお待ちください。
    </span>
    <div class="w-100"></div>
    <span class="h5 mt-5 col-md-auto">
      会員登録済のユーザー様にはサイト内のチャットにてご連絡いたします。
    </span>
    <div class="w-100"></div>
    <span class="h5 col-md-auto">
      会員登録がお済みでないユーザー様にはご入力いただいたメールアドレス宛に
    </span>
    <div class="w-100"></div>
    <span class="h5 col-md-auto">
      ご連絡いたします。
    </span>
  </div>
  <div class="row mt-4 d-flex justify-content-center">
    <%= link_to root_path, class: "text-decoration-none" do %>
      <button type="button" class="btn btn-outline-secondary p-1">
        <span>
          トップページに戻る
        </span>
      </button>
    <% end %>
  </div>
</div>
