/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-search-label {
  font-size: calc(10px + .6vw);
}

.bg_image::before {
  content: "";
  position: absolute;
  top: 0;  bottom: 0;
  left: 0;  right: 0;
  background: black;
  opacity: 0.3;
}

.header-img{
  background-image :image-url("iron.jpg");
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  height: calc(150px + 15vw);
  position: relative;
}

.header-title{
  display: flex;
  position: absolute;
  top: 10vw; left: 100px;
}

.header-title > h1 {
  font-size: calc(20px + .9vw);
}

.footerFixed{
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
}

footer{
  position: absolute;
  bottom: 0;
  text-align: center;
}

.scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 600px;
}

.label-area{
    background-color: #DDDDDD;
}

.text-area{
    background-color: #EEEEEE;
}

.genre-image, .top-image, .product-image, .review-image{
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.ranking-image, .profile-image{
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.image-index{
  object-fit: cover;
  width: 125px;
  height: 125px;
}

.profile-sm-image{
  object-fit: cover;
  width: 75px;
  height: 75px;
}

.profile-chat-image{
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*トップに戻るボタン*/
#back {
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 9999;
}

.back{
  object-fit: cover;
  width: 40px;
  height: 40px;
}