<div class="container">
  <div class="row my-3 d-flex justify-content-center">
    <span class="h2 col-md-auto">
      会員一覧
    </span>
  </div>

  <table class="table">
    <thead>
      <tr class="row">
        <th class="col-md-2 offset-md-1">会員ID</th>
        <th class="col-md-3">氏名</th>
        <th class="col-md-3">メールアドレス</th>
        <th class="col-md-2">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="row">
          <th class="col-md-2 offset-md-1 d-flex align-items-center"><%= user.id %></th>
          <th class="col-md-3 d-flex align-items-center"><%= link_to user.full_name, admin_user_path(user.id) %></th>
          <th class="col-md-3 d-flex align-items-center"><%= user.email %></th>
          <th class="col-md-2 d-flex align-items-center">
            <% if user.is_deleted == true %>
              <p class="m-0 text-success">有効</p>
            <% else %>
              <p class="m-0 text-muted">退会</p>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="container d-flex justify-content-center">
    <%= paginate @users %>
  </div>
</div>