<%= render 'header', user: @user %>
<h2>いいねした機器</h2>
<% if @favorites.exists? %>
  <% @user.favorite_products.each do |product| %>
    <%= render 'index', product: product %>
    <% if user_signed_in? %>
      <div class="favorite-<%= product.id %>">
        <%= render 'public/favorites/favorite-btn', product: product %>
      </div>
    <% end %>
  <% end %>
<% else %>
	<p>いいねしている機器はありません</p>
<% end %>