<%= render 'header', user: @user %>
<% @favorites.each do |favorite| %>
  <%= render 'index', product: favorite.product %>

    <td class="favorite-<%= favorite.product.id %>">
      <%= render 'public/favorites/favorite-btn', product: favorite.product %>
    </td>

  </tbody>
<% end %>