<div class="container">
  <div class="row d-flex justify-content-center">
    <span class="h2 mb-3 col-md-auto">
      本当に退会しますか？
    </span>
    <p class="h3 col-md-auto">
      退会すると、会員登録情報やこれまでの投稿履歴を編集できなくなります。
    </p>
    <p class="h3">
      退会する場合は、「退会する」をクリックしてください。
    </p>
  </div>
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-md-3">
      <%= link_to "退会しない", edit_user_path, class: "btn btn-outline-primary form-control" %>
    </div>
    <div class="col-md-3">
      <%= link_to "退会する", withdraw_user_path(current_user), method: :patch, class: "btn btn-outline-danger form-control" %>
    </div>
  </div>
</div>